* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header {
    background-color: #00cdcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 200px;
    color: white;
}

.title-box {
    border-top: white 4px double;
    border-bottom: white 4px double;
    border-left: white 1px solid;
    border-right: white 1px solid;
    width: 425px;
    text-align: center;
    padding: 45px 100px;
    margin-bottom: 25px;
}

h1 {
    font-weight: lighter;
    font-size: 50px;
}

h2 {
    font-weight: lighter;
    margin: 0 0 40px 0;
    font-size: 30px;
}

.get-started-btn {
    padding: 10px 25px;
    font-size: larger;
    background-color: #009a9c;
    color: white;
    border: none;
}
.get-started-btn:hover {
    background-color: #03b5b8;
}
main {
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.main-section-title {
    text-align: center;
    border-bottom: lightgray 5px double;
    padding: 70px 0px 0px 0px;
    width: 500px;
}

.cards-top {
    display: flex;
    flex-flow: row wrap;
    margin-top: 75px;
}
.cards-bottom {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 75px;
}

.card {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    text-align: center;
}

.card img {
    width: 25%;
    padding: 15px;
}

.card h3, p {
    padding: 15px;
}
section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #f7f7f7;
}

.footer-title {
    text-align: center;
    border-bottom: lightgray 5px double;
    padding: 70px 0px 40px 0px;
    width: 215px;
}

.input-fields {
    display: flex;
    flex-flow: row wrap;
    width: 1000px;
    justify-content: center;
}

.name-input {
    text-align: center;
    width: 300px;
}

.name-input input {
    width: 275px;
    height: 40px;
}

.email-input {
    text-align: center;
    width: 300px;
}

.email-input input {
    width: 275px;
    height: 40px;
}

.message-input {
    text-align: center;
    width: 1000px;
    margin: 20px 0;
}

.message-input input {
    height: 150px;
    width: 575px;
}

input {
    outline: none;
    border: 1px solid #bbb;
}

input:focus {
    outline: none;
    border: 2px solid #00cdcf;
}


.message-btn {
    background-color: #555;
    color: #f7f7f7;
    font-size: 18px;
    padding: 15px 25px;
    border-style: none;
    margin: 20px 0 60px 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    text-align: center;
    padding: 75px 0;
    color: #bbb;
}

.foot {
    width: 700px;
    border-top: #bbb 1px solid;
    padding: 100px 0 50px 0;
    font-size: 12px;
    letter-spacing: 3px;

}